
* {
	border:1;
	margin:0;
	padding:0;
}

a {
	color:#777;
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;
}

/* body */
body {
	background:#ffffff;
	color:#555;
	font:0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
}

/* header */
#header {
	border-bottom:1px solid #999;
	height:100px;
	margin:0 auto;
	width:100%;
	background-color: #f8f9fa;  
    padding: 15px;              
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

}


/* content */
#content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;
	width:751px;
}
#content h1 {
	border-bottom:1px dashed #999;
	font-size:1.8em;
	padding:20px 0 0;
}
#content p {
	padding:20px 20px 0;
}

.bg-light {
    background-color: #b2c6da !important;
}


/* Added by Larry Ullman: */
.error, .ad {
	font-weight: bold;
	color: #C00
}

input, select, .input {
	padding: 5px;
	font-weight: bold;
	font-size: 1em;
	color: #008040;
	background: #FFFFFF;
	border:1px dotted #004080;
}
.list-group-item{
	font-size: 12px;
}
.list-group-item img{
	 width: 90px; /* Đặt chiều rộng mong muốn */
    height: auto; /* Tự động điều chỉnh chiều cao để giữ tỉ lệ */
}
.list-group-horizontal {
    width: fit-content; /* Đặt chiều rộng phù hợp với nội dung */
    margin: 0 auto; 
}
   .price {  
        font-size: 16px;              
        font-weight: bold;               
        color: white;                   
        background-color: #ff4d4d;     
        border: 2px solid red;         
        border-radius: 50px;            
        display: inline-block;           
        text-align: center;              
        margin: 0 auto;                    
    }   
.price span {  
    font-size: 1em;         
    margin-left: 5px;         
}  

 .header-title {  
        text-align: center;             
        font-size: 2.5em;               
        color: #007bff;               
        font-weight: bold;                
        text-transform: uppercase;      
        margin: 20px 0;                   
        font-family: 'Arial', sans-serif;  
        background-color: rgba(0, 123, 255, 0.1); 
        padding: 10px;                  
        border-radius: 10px;           
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        font-family: cursive;
    }  


    .form-inline {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.form-inline i {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #4862c4;
}

.form-inline a {
    text-decoration: none;
    color: #4862c4;
    font-weight: bold;
    margin-left: 5px;
    font-size: 16px;
}

.form-inline a:hover {
    color: #2b47a5;
    text-decoration: underline;
}


    .form-inline {  
        display: flex;               
        align-items: center;       
    }  

    .form-inline i {  
        margin-right: 15px;        
        font-size: 17px;               }  

.bg-light {
    background-color: #849fba !important;
}

/* Thiết lập màu cho logo */
.navbar .navbar-brand img {
    height: 40px;
}

/* Tùy chỉnh các liên kết trong navbar */
.navbar a {
    color: #ffffff; /* Màu chữ trắng */
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ffb03b; /* Đổi màu khi hover */
}

/* Tùy chỉnh cho các icon */
.navbar i {
    color: #ffb03b; /* Màu icon */
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
}

/* Khoảng cách giữa các item trong form */
.navbar .form-inline {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Tùy chỉnh link bên trong icon */
.navbar .form-inline a {
    color: black; /* Màu chữ trắng */
}

.navbar .form-inline a:hover {
    color: #ffb03b; /* Đổi màu khi hover */
}

/*-----------------------------------------------CSS cho dropdown menu----------------- */
.btn-group .btn-secondary {
    font-family: monospace;
    background-color: #a9c7ea; /* Màu nền của nút chính */
    color: #fff; /* Màu chữ */
    font-size: 19px; /* Kích thước chữ */
    padding: 10px 20px; /* Khoảng cách padding */
    border-radius: 10px; /* Độ bo góc */
    border: none; /* Xóa đường viền */
    transition: background-color 0.3s; /* Hiệu ứng khi hover */
}

.btn-group .btn-secondary:hover {
    background-color: #0056b3; /* Màu khi hover */
}


.dropdown-menu {
    background-color: rgba(0, 123, 255, 0.1)  !important; /* Màu nền của menu */
    min-width: 260px !important; /* Chiều rộng tối thiểu */
    border: 1px solid #ddd !important; /* Đường viền */
    border-radius: 5px !important; /* Độ bo góc */
    padding: 10px 0 !important; /* Khoảng cách padding */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important; /* Hiệu ứng đổ bóng */
}

/* CSS cho các mục trong dropdown */
.dropdown-item {
    font-family: sans-serif;
    font-size: 18px; /* Kích thước chữ */
    padding: 30px 20px; /* Khoảng cách padding */
    transition: background-color 0.3s; /* Hiệu ứng khi hover */
}

.dropdown-item:hover {
    background-color: #d4b65b !important ; /* Màu nền khi hover */
}

/*-----------------------------------------------------------------------------*/

    
    h1 {  
        text-align: center;  
        color: #333; /* Dark header color */  
    }  
    

    td {  
        padding: 10px; 
        vertical-align: top; 
    }  
    
    input[type="text"],  
    input[type="file"],  
    select {  
        width: 100%; 
        border: 1px solid #ccc; 
        border-radius: 4px; / 
        box-sizing: border-box; 
        transition: border-color 0.3s;
    }  
    
    input[type="text"]:focus,  
    select:focus {  
        border-color: #4862c4;  
        outline: none; 
    }  
    
    input[type="radio"] {  
        margin-right: 5px; 
    }  
    
    input[type="submit"] {  
        background-color: #3e9382;  
        color: white; 
        border: none; 
        padding: 10px 15px; 
        border-radius: 40px; 
        cursor: pointer; 
        transition: background-color 0.3s;  
   		margin-top: 10px;
    }  
    
    input[type="submit"]:hover {  
        background-color: #375a94;   
    }  
    
    .error {  
        color: red;   
        font-weight: bold;  
    }  
    
   
    .button-link {  
        display: inline-block;   
        padding: 10px 20px;   
        background-color: #4862c4; 
        color: yellow;  
        border-radius: 50px;   
        text-align: center;   
        text-decoration: none;   
        transition: background-color 0.3s, transform 0.3s; 
        margin-top: 20px;  
        margin-right: 10px;
    }  

    .button-link:hover {  
        background-color: wheat; 
        transform: translateY(-2px);  
    }  

    .button-link:active {  
        transform: translateY(1px);  
    }  



table {  
        width: 100%; 
        border-collapse: collapse;  
    }  
    
    td {  
    	margin: 10px;
        padding: 10px; 
        border: 1px solid #ddd;  
        background-color: #fafafa; 
        text-align: center;  
        transition: transform 0.2s; 
    }  

    td:hover {  
        transform: scale(1.05);  
        background-color: #f0f0f0; 
    }  
 

    b {  
        color: #333; 
    }  

   .success-message {
    color: #6d70a6; 
    font-size: 18px; 
    font-weight: bold; 
    text-align: center; 
    width: fit-content; 
    margin: 20px auto; 
}
.delete-button {
        display: inline-block;
        padding: 8px 16px;
        color: #fff;
        background-color: #49abbd; /* Màu đỏ */
        border: none;
        border-radius: 50px;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.3s ease;
    }
    
    .delete-button:hover {
        background-color: wheat; /* Màu khi rê chuột */
    }

/*--------------footer------------------------------------- */
.footer {
    background: #F3F6FA;
    padding-top: 70px;
    padding-bottom: 0;
}

.footer__about {
    margin-bottom: 30px;
}

.footer__about ul li {
    font-size: 16px;
    color: #1c1c1c;
    line-height: 36px;
    list-style: none;
}

.footer__about__logo {
    margin-bottom: 15px;
}

.footer__about__logo a {
    display: inline-block;
}

.footer__widget {
    margin-bottom: 30px;
    overflow: hidden;
}

.footer__widget h6 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer__widget ul {
    width: 50%;
    float: left;
}

.footer__widget ul li {
    list-style: none;
}

.footer__widget ul li a {
    color: #1c1c1c;
    font-size: 14px;
    line-height: 32px;
}

.footer__widget p {
    font-size: 14px;
    color: #1c1c1c;
    margin-bottom: 30px;
}

.footer__widget form {
    position: relative;
    margin-bottom: 30px;
}

.footer__widget form input {
    width: 100%;
    font-size: 16px;
    padding-left: 20px;
    color: #1c1c1c;
    height: 46px;
    border: 1px solid #ededed;
}

.footer__widget form input::placeholder {
    color: #1c1c1c;
}

.footer__widget form button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 26px;
    height: 100%;
}

.footer__widget .footer__widget__social a {
    display: inline-block;
    height: 41px;
    width: 41px;
    font-size: 16px;
    color: #404040;
    border: 1px solid #ededed;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    background: #ffffff;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    margin-right: 10px;
}

.footer__widget .footer__widget__social a:last-child {
    margin-right: 0;
}

.footer__widget .footer__widget__social a:hover {
    background: #7fad39;
    color: #ffffff;
    border-color: #ffffff;
}

.footer__copyright {
    border-top: 1px solid #ebebeb;
    padding: 15px 0;
    overflow: hidden;
    margin-top: 20px;
}

.footer__copyright__text {
    font-size: 14px;
    color: #1c1c1c; 
    float: left;
    line-height: 25px;
}

.footer__copyright__payment {
    float: right;
}

